{
  "rules": {
    "jsx-no-bind": "off",
    "no-unused-vars": "error",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "no-undef": "error",
    "indent": ["error", 2]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"]
}
